*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    /* background-image: url("../img1.jpeg"); */
    background-color: rgb(17, 2, 2);
    /* background: linear-gradient(45deg, green, blue); */
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}
.navbar .logo{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 10px 0px;
}
.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}
.nav-menu ul li:hover{
    background-color: #fc9003;
    transition: 0.5s ease;
}
.toggle-btn{
    position: absolute;
    top: 28px;
    right: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 22px;
    width: 32px;
    display: none;
}
.toggle-btn .bar{
    height: 4px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0px 60px;
}
.content h1{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.content h3{
    color: #a1a1a1;
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.5;
}
.content .button{
    margin-top: 25px;
}
.content .button a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: inline-block;
    background-color: #fc9003;
    border-radius: 50px;
    padding: 15px 25px;
    letter-spacing: 1.5px;
}
.content .button a:hover{
    background-color:rgb(17, 2, 2);
    color: #fc9003;
    transition: 0.5s ease;
}
@media(max-width: 768px){
    .toggle-btn{
        display: flex;
        z-index: 2;
    }
    .nav-menu ul{
        width: 100%;
        background-color: #162427;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        z-index: 1;
    }
    .nav-menu{
        display: none;
        width: 100%;
    }
    .nav-menu ul li{
        margin: 10px 0px;
    }
    .nav-menu ul li a{
        font-size: 20px;
    }
    .navbar .logo{
        font-size: 25px;
    }
    .content h1{
        font-size: 40px;
    }
    .navbar h3{
        font-size: 15px;
    }
    .navbar .button a{
        font-size: 15px;
        padding: 9px 15px;
    }
}
.nav-top{
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, rgb(236, 143, 13), rgb(182, 18, 146));
    /* background: linear-gradient(to right, blue, green); */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}  

.nav-top .social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
}
.nav-top .social-media .icon{
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
}
.nav-top .social-media .bar{
    width: 2px;
    height: 20px;
    background-color: white;
    margin: 0px 2px;
}
.nav-top .contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20%;
    text-align: center;
}
.nav-top .contact .ph-no{
    margin-right: 10px;
}
.nav-top .button{
    margin-left: 10%;
    height: 25px;
    background-color:#162427;
    padding: 2px 5px;
    border-radius: 10px;
}
.nav-top .button a{
    text-decoration: none;  
    color: white;
}
.nav-top .button:hover{
    background-color: #9dd153;
    transition: 1s ease;
}
.main{
    width: 100%;
    height: 150px;
    background: linear-gradient(to right, orange, rgb(164, 39, 106));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}
.main .container{
    padding: 20px;
}
.main .container .icon{
    padding: 10px;
}
.Our-Services{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 100%;
    height: 150px;
}
.Our-Services .heading{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.Our-Services .heading .bar{
    height: 2px;
    width: 220px;
    background:linear-gradient(to right, orange,blue);
}
.Our-Services .samples{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.Our-Services .samples .container{
    background-color: #000000;
    /* margin: 0px 20px;
    padding: 0px 10px; */
    width: 300px;
    height: 200px;
}
.Our-Services .samples .container .caption{
    width: 80%;
    padding: 10px;
    margin: 10px 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}
.Our-Services .samples .container .caption .icon{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    background:linear-gradient(to right, orange,blue);
    border-radius: 50%;
}